certificateArn: 'ref+awsssm://{{ .Environment.Values.cluster_name }}/certificate-arn?region={{ .Environment.Values.region }}'
blogFqdn: 'ref+awsssm://{{ .Environment.Values.cluster_name }}/blog-fqdn?region={{ .Environment.Values.region }}'
domain: 'ref+awsssm://{{ .Environment.Values.cluster_name }}/domain?region={{ .Environment.Values.region }}'
