repositories:
  - name: bitnami
    url: https://charts.bitnami.com/bitnami
  - name: external-secrets
    url: https://charts.external-secrets.io

releases:
  - name: storage
    namespace: kube-system
    chart: ./charts/storage

  - name: external-secrets
    namespace: external-secrets
    createNamespace: true
    chart: external-secrets/external-secrets
    version: 0.10.7
    values:
      - ./values/external-secrets.yaml
    hooks:
      - events: ["postsync"]
        command: kubectl
        args:
          - rollout
          - status
          - deployment/external-secrets-webhook
          - -n
          - external-secrets
          - --timeout=120s

  - name: secrets
    namespace: apps
    createNamespace: true
    chart: ./charts/secrets
    needs:
      - external-secrets/external-secrets
    values:
      - ./values/secrets.yaml

  - name: backend
    namespace: apps
    createNamespace: true
    chart: ./charts/backend

  - name: frontend
    namespace: apps
    createNamespace: true
    chart: ./charts/frontend
    needs:
      - backend

  - name: wordpress
    namespace: apps
    createNamespace: true
    chart: bitnami/wordpress
    version: 22.4.17
    needs:
      - kube-system/storage
      - apps/secrets
    values:
      - ./values/wordpress.yaml
