repositories:
  - name: bitnami
    url: https://charts.bitnami.com/bitnami

releases:
  - name: storage
    namespace: kube-system
    chart: ./charts/storage

  - name: backend
    namespace: apps
    createNamespace: true
    chart: ./charts/backend

  - name: frontend
    namespace: apps
    createNamespace: true
    chart: ./charts/frontend
    needs:
      - backend

  - name: wordpress
    namespace: apps
    createNamespace: true
    chart: bitnami/wordpress
    version: 22.4.17
    needs:
      - kube-system/storage
    values:
      - ./values/wordpress.yaml
