apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: wordpress
  namespace: apps
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: wordpress
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: {{ .Values.secretName }}
